nav{

}
div{
    text-align:left;
    font-weight: normal;
}
.background{
    background-image:url(image.jpg) ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    backface-visibility: 50%;
}
nav{
    background-color: rgb(122, 139, 13);
    padding: 20px;
    font-weight: 700;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
h1{
    text-align: center;
    color: white;
    text-decoration-line: underline;
}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  div.static {
    position: static;
    border: 3px solid #73AD21;
  }